.navigationMenu {
  padding: 12px 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigationList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px;
}
.navigationListItem:not(:last-child) {
  margin-right: 10px;
}
.NavigationLink {
  color: rgb(93, 79, 79);
  text-decoration: none;
  cursor: pointer;
}
.NavigationLink:hover {
  color: rgb(44, 42, 42);
  text-decoration: underline;
}
.NavigationLinkActive {
  color: rgb(44, 42, 42);
  text-decoration: underline;
}
